{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "14"
        },
        // for @babel/polyfill
        "useBuiltIns": "usage",
        "corejs": 3
      }
    ]
  ]
}
